<h1>Dialog demo</h1>

<button md-raised-button color="accent" (click)="openTemplate()">
  Open dialog with template content
</button>


<template>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sequi praesentium laborum reiciendis et, mollitia dolores atque blanditiis obcaecati! Vitae id, quibusdam ducimus alias cum ullam optio quasi animi molestias.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur rem pariatur totam libero dolor quaerat tenetur soluta vero praesentium. Consectetur sint harum esse, repellendus animi dolor, nobis fugit est doloremque?</p>
</template>
