body{
padding: 50px;
}

.columns{

}
button{
    font-size:1.4em;
}
#content{
    background: #d78100;
    padding:30px;
    width:200px;
    margin-right:400px;
    float:right;
}
.heightBox{
    width:400px;
    background: #38c36e;
    margin-top: 350px;
    margin:0 auto;
}
